
<ng-container *ngIf="backendService.income$ | async as income">
    <ng-container *ngIf="backendService.envelopes$ | async as envelopes">
            <app-header [income]="income[0]" [envs]="envelopes" [settings]="backendService.settings"></app-header>
            <div class="envelope-container" fxLayout="row" fxLayout.xs="column">
                <ng-container *ngFor="let env of envelopes">
                    <app-envelope [envelope]="env">
                        <app-shared-button  
                            class="add-allocation" 
                            [type]="'icon'" 
                            [content]="'request_quote'"
                            [size]="'small'"
                            (clicked)="adjustAllocation(env,envelopes,income[0])"
                        ></app-shared-button>
                        <app-shared-button 
                            class="add-transaction" 
                            [type]="'icon'" 
                            [content]="'add_shopping_cart'"
                            [size]="'small'"
                            (clicked)="addTransactionRemoveAllocation(env)"
                        ></app-shared-button>
                        <app-shared-button 
                            class="delete-envelope" 
                            [type]="'icon'" 
                            [content]="'unsubscribe'"
                            [size]="'small'"
                            (clicked)="deleteEnvelope(income[0], env)"
                            ></app-shared-button>
                    </app-envelope>
                </ng-container>
                <button class="envelope-button" mat-icon-button (click)="addEnvelope()" fxAlign="center">
                    <mat-icon>mail_outline</mat-icon>
                </button>
            </div>
    </ng-container>
</ng-container>
