<div class="main-container">
    <ng-container *ngIf="backendService.income$ | async as income">
        <ng-container 
          *ngIf="backendService.envelopes$ | async as envelopes"
          >
                <app-header 
                    [income]="income[0]" 
                    [envs]="envelopes" 
                    [settings]="backendService.settings"
                    [bdcWalkTriggerFor]="add_initial_income"
                   
                 ></app-header>
                 <div
                 [bdcWalkTriggerFor]="resetDefaults"
                 >

                 </div>
                <div 
                    class="envelope-container" 
                    fxLayout="row" 
                    fxLayout.xs="column"
                    [bdcWalkTriggerFor]="dialogWelcome"
                >
                    <ng-container *ngFor="let env of envelopes">
                        <app-envelope [envelope]="env">
                            <app-shared-button  
                                class="add-allocation" 
                                [type]="'icon'" 
                                [content]="'request_quote'"
                                [size]="'small'"
                                (clicked)="adjustAllocation(env,envelopes,income[0])"
                                [disabled]="!income[0] || income[0].unallocated < 1"
                                [bdcWalkTriggerFor]="allocateMoney"
                            ></app-shared-button>
                           
                                <app-shared-button 
                                class="add-transaction" 
                                [type]="'icon'" 
                                [content]="'add_shopping_cart'"
                                [size]="'small'"
                                (clicked)="addTransactionRemoveAllocation(env)"
                                [disabled]="!income[0] || income[0].unallocated < 1"
                                [bdcWalkTriggerFor]="makePurchase"
                            ></app-shared-button>
                            <app-shared-button 
                                class="delete-envelope" 
                                [type]="'icon'" 
                                [content]="'unsubscribe'"
                                [size]="'small'"
                                (clicked)="deleteEnvelope(income[0], env)"
                                ></app-shared-button>
            
                        </app-envelope>
                    </ng-container>
                    <br/><br/>
                    <button 
                        [ngClass]="envelopes.length < 1 ? 'envelope-button shake-slow' : 'envelope-button'"
    
                        mat-icon-button 
                        (click)="addEnvelope()" 
                        fxAlign="center"
                        [bdcWalkTriggerFor]="add_envelopes"
                        >
                        <mat-icon>mail_outline</mat-icon>
                    </button>
                </div>
        </ng-container>
    </ng-container>
</div>


  <bdc-walk-popup 
  #dialogWelcome 
  name="dialogWelcome" 
  header="Welcome" 
  yPosition="below"
  [showButton]="true"
  buttonText="Show Me Quick Start" 
  [onButtonCompleteTask]="{tourNext: 0}"
  [arrow]="false"
  >
  You look new here? <b>Get Started!</b>.
</bdc-walk-popup>


  <bdc-walk-popup 
    #add_initial_income name="add_initial_income" 
    name="add_initial_income"
    header="Add Intial Income" 
    xPosition="after" 
    [offsetX]="13"
    sideNoteText="1/5" 
    [showButton]="true" 
    buttonText="Next" 
    [alignCenter]="true"
    [mustCompleted]="{dialogWelcome: true}" 
    [onButtonCompleteTask]="{tourNext: 1}"
  >
  Set initial income for allocation.  You can also set defaults for whenever you need to reset for the next time you get paid.
  <mat-icon>savings</mat-icon>
  </bdc-walk-popup>

  <bdc-walk-popup 
      #add_envelopes name="add_envelopes" 
      name="add_envelopes"
      header="Add Envelopes" 
      yPosition="above" 
      [offsetX]="-50"
      [offsetY]="-180"
      sideNoteText="2/5" 
      [showButton]="true" 
      buttonText="Next" 
      [alignCenter]="true"
      [mustCompleted]="{tourNext: 1}" 
      [onButtonCompleteTask]="{tourNext: 2}"
>
Add envelopes for each budget category.
</bdc-walk-popup>
  
  <bdc-walk-popup 
    #allocateMoney 
    [showCloseButton]="true" 
    name="allocateMoney" 
    header="Allocate Money to Envelopes" 
    xPosition="after" 
    sideNoteText="3/5" 
    [showButton]="true" 
    buttonText="Next" 
    [mustCompleted]="{tourNext: 2}" 
    [onButtonCompleteTask]="{tourNext: 3}"
    >
    Allocate money to envelopes. <mat-icon>request_quote</mat-icon>
  </bdc-walk-popup>

  <bdc-walk-popup #makePurchase 
    [showCloseButton]="true" 
    name="makePurchase" 
    header="Record Transactions" 
    [arrow]="false"
    [alignCenter]="true"
    [offsetY]="110"
    [offsetX]="50"
    sideNoteText="4/5" 
    [showButton]="true" 
    [mustCompleted]="{tourNext: 3}" 
    [onButtonCompleteTask]="{tourNext: 4}"
    >
    Make purchases and reflect them for the 
    envelopes <mat-icon>add_shopping_cart</mat-icon> 
 
  </bdc-walk-popup>



  <bdc-walk-popup 
    #resetDefaults 
    [showCloseButton]="true" 
    name="resetDefaults" 
    header="Reset Defaults" 
    xPosition="after" 
    [offsetY]="-100"
    sideNoteText="5/5" 
    [showButton]="true" 
    [mustCompleted]="{tourNext: 4}" 
    [onButtonCompleteTask]="{tourNext: 5}"
   
>
     Reset for each pay cycle, use defaults you set, or choose to reset everything back to zero.
     <mat-icon>restart_alt</mat-icon> 
</bdc-walk-popup>

    
