
<div class="main-container">
 
   <video playsinline autoplay loop muted preload="auto">
    <source src="../assets/video/envelope-money.mp4" type="video/mp4" poster="../assets/piggy-bank-removebg-preview.png">
   </video>

   <p class="main-container__hero">
    Simple Budget Management
   </p> 
   <div class="main-container__cover"></div>
   <div class="splash-container">
      <div class="splash-container__loggedOut">
      
                  <div 
                  [ngClass.lt-md]="{'splash-container__loggedOut__button-small': true}"
                  [ngClass.gt-sm]="{'splash-container__loggedOut__button-reg': true}"
                  >
                  <img (click)="login()" src="../assets/google-blue.png" />
                  </div>

      </div>
   </div>
