@import "../../../shared/sass/main.scss";

.main-container {

background: rgba(255, 230, 239, 1.0);
background: -webkit-radial-gradient(center, rgba(255, 230, 239, 1.0), rgba(255, 255, 255, 1.0));
background: -moz-radial-gradient(center, rgba(255, 230, 239, 1.0), rgba(255, 255, 255, 1.0));
background: radial-gradient(ellipse at center, rgba(255, 230, 239, 1.0), rgba(255, 255, 255, 1.0));

    height: 100vh;

    .splash-container {
        display: flex;
        justify-content: center;
        width: 100%;

    
    
    
    
        &__loggedOut
         {
          
             display: block;
             @include center;
             width: 100%;
             height: auto;
             margin-top: 30%;
             
            
          
    
            &__image {
               
                &-small {
         
                    img {   
                      
                     
                        width: 75%;
                        margin-top: 38%;
                        margin-left: 10%;
                        
                    }
                }
    
                &-reg {
         
                    img {   
                        // margin-top: 25%;
                        margin-left: 25rem;
                        width: 50%;
                        
                    }
                }
            
            
            }
    
           &__button {
               
                &-small {
         
                    img {   
                        width: 75%;
                        margin-left: 10%;
                        margin-top: 1rem;
                        border-radius: 5%;
                        background-color: pink;
                        
                        
                    }
                }
    
                &-reg {
         
                    img {   
                        margin-left: 35rem;
                        width: 30rem;
                        margin-top: 2rem;
                        
             
                    }
                }
                &-small,&-reg {
                    border-radius: 1%;
                   
                }
            
            
            }
            
    
        }
    }
}

 