@import "../../../shared/sass/main.scss";





.splash-container {
    display: flex;
    justify-content: center;
    width: auto;
    margin-right: 5rem;
    





    &__loggedOut
     {
        padding: 1rem;
         display: block;
         @include center;
         background-color:white;
         width: auto;

        &__form {
            @include center;
            width: 20%;
            margin-top: 1.5rem;
            padding: 2rem;
            position: absolute;
            left: 35%;
            font-size: 1rem;

            &__title { 
                @include center;
                width: 100%;
                font-size: 1rem;
             }

        
        }

      

        &__image {
           
            &-small {
     
                img {   
                  
                 
                    width: 20rem;
                    margin-top: 32%;
                    margin-left: 6rem;
                }
            }

            &-reg {
     
                img {   
                    margin-top: 25%;
                    margin-left: 5rem;
                    width: 100%;
                    
                }
            }
        
        
        }

       &__button {
            margin-bottom: 60%;
           
            &-small {
     
                img {   
                    width:75%;
                    margin-left: 5.5rem;
          
                    
                    
                }
            }

            &-reg {
     
                img {   
                    width: 100%;
                    margin-left: 4rem;
                    
         
                }
            }
        
        
        }
        

    }
}
 
@include  big-mat-forms;

.email-sent {
    margin-top: .7rem;
    font-size: 1rem;
    background-color: rgb(240, 192, 208);
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}