@import "../../../shared/sass/main.scss";



.splash-container {
    display: flex;
    justify-content: center;
    width: auto;
    margin-right: 5rem;
    background-image: linear-gradient(to bottom, #ffe1f0, #fce9f7, #fbf1fc, #fbf8fe, #ffffff);
   
    






    &__loggedOut
     {
        padding: 1rem;
         display: block;
         @include center;
         background-image: linear-gradient(to bottom, #ffe1f0, #fce9f7, #fbf1fc, #fbf8fe, #ffffff);
         width: auto;

        &__form {
            @include center;
            width: 20%;
            margin-top: 1.5rem;
            padding: 2rem;
            position: absolute;
            left: 35%;
            font-size: 1rem;

            &__title { 
                @include center;
                width: 100%;
                font-size: 1rem;
             }

        
        }

      

        &__image {
           
            &-small {
     
                img {   
                  
                 
                    width: 20rem;
                    margin-top: 32%;
                    margin-left: 6rem;
                }
            }

            &-reg {
     
                img {   
                    margin-top: 25%;
                    margin-left: 5rem;
                    width: 100%;
                    
                }
            }
        
        
        }

       &__button {
           
            &-small {
     
                img {   
                    width:75%;
                    margin-left: 5.5rem;
                    margin-top: 3rem;
          
                    
                    
                }
            }

            &-reg {
     
                img {   
                    width: 100%;
                    margin-left: 4rem;
                    margin-top: 3rem;
                    
         
                }
            }
            &-small,&-reg {
                border-radius: 1%;
               
            }
        
        
        }
        

    }
}
 
@include  big-mat-forms;

