<header>
    <div class="header">
        <div class="header__row">
        <div class="column__block" fxHide.sm fxHide.xs>
              <app-shared-button 
              [type]="'regular'" 
              [content]="''" 
              [size]="'small'"
              (clicked)="logout()"
              ><mat-icon>logout</mat-icon>
            </app-shared-button>
            <!-- <span class="spacer"></span> -->
            <div>
               <app-shared-button 
                  [type]="'regular'" 
                  [content]="''" 
                  [size]="'reg'"
                  (clicked)="launchSettings()"
                  ><mat-icon>savings</mat-icon>
              </app-shared-button>
              <app-shared-button 
                  [type]="'regular'" 
                  [content]="''" 
                  [size]="'reg'"
                  (clicked)="resetLevels()"
                  ><mat-icon>restart_alt</mat-icon>
              </app-shared-button>
            </div>
                <!-- <app-shared-button [type]="'regular'" [content]="''" [size]="'reg'"><mat-icon>analytics</mat-icon></app-shared-button> -->
        
        </div>
            <div class="" fxShow.md fxShow.sm fxHide.lg fxHide.xl> 
                  <button class="menu-buttons" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Additional options">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button 
                        mat-menu-item
                        (click)="launchSettings()"
                    >
                      <mat-icon>savings</mat-icon>
                      <span>Set Funds</span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="restart_options">
                      <mat-icon>restart_alt</mat-icon>
                      <span>Reset Funds</span>
                    </button>
                    <button 
                        mat-menu-item
                        (click)="logout()"
                    >
                      <mat-icon>logout</mat-icon>
                      <span>Logout</span>
                    </button>
                  </mat-menu>

                  <mat-menu #restart_options="matMenu">
                    <button 
                        (click)="resetMemory()"
                        mat-menu-item>
                        <mat-icon>restore</mat-icon>
                       <span>Memory</span>
                    </button>
                    <button 
                        (click)="resetLevels()"
                        mat-menu-item
                    >
                        <mat-icon>delete_outline</mat-icon>
                        <span>Clear All</span>
                    </button>
                  </mat-menu>
            </div>
            <div class="column__income">
                <div class="column__income__heading">
                  <mat-icon>savings</mat-icon>
                    <!-- <img src="../../../assets/pig.png" alt="pig icon" [style.width.rem]="1.2"> -->
                     {{(income ? income.unallocated : 0)  | currency:'USD'}}
                </div>
                <div class="column__income__heading">
                    <img src="../../../assets/email.png" alt="letter icon" [style.width.rem]="1.2">
                     {{(income ? income.allocated : 0) | currency:'USD'}}
                </div>
                
            </div>
        </div>
    </div>
</header> 