@import "../../shared/sass/main.scss";

.header {
  margin-bottom: $header-bottom-margin;
  padding: 0;
  height: $header-height;
  background-color: $header-background-color;
  color: black;
  width: 110vw;
  overflow-y: hidden;

  .menu-buttons {
    margin-left: 1rem;
  }

  &__row {
    width: 100vw;
    @include main-row-spacing;

    .column__block {
      @include inline-columns;
    }

    .column__income {
      @include block-columns;
      margin-right: 7%;
      // mat-icon {
      //   margin-right: .3rem;
      // }

      &__heading {
        font-size: $secondary-heading;
        margin: $income-heading-margin;
        text-transform: uppercase;
      }
    }
  }
}

