@import "../../../shared/sass/main.scss";

@include tabs;
@include mat-forms;

.allocation-card {
  background-color: whitesmoke;
  height: 94%;
  width: auto;
  // padding: auto;

  &__top-portion {
    margin-bottom: 2rem;

    .unallocated__tabbox {
      @include center-flex;
      display: block;
      margin-top: 3rem;
      width: auto;

      &__heading {
        display: inline;
        margin-top: 3rem;

        &-title {
          font-size: calc(#{$standard-font}* .9);
          color: black;
          font-weight: 300;
        }

        &-money {
          // display: flex;
          // justify-content: space-around;
          font-size: calc(#{$standard-font}* .8);
          color: rgb(92, 85, 85);
          margin-bottom: 1.5rem;
          margin-top: 1rem;
        }
      }

      &__allocation-ui {
        @include center-flex;
        margin-right: 1.5rem;

        &__form-group {
          padding-left: 5rem;
          margin-top: 2rem;

        }
        &__incrementor {
          display: flex;
          justify-content: center;
          margin-top: 2rem;
          mat-icon {
            font-size: 2rem;
            margin: .5rem;
          }
        }
      }
  
    }

    &__allocated-envs {
      @include center-flex;
      margin: 1rem auto;
      height: auto;
      color: black;

      ul {
        list-style-type: none;
      }

      &__items {
        @include center-flex;
        margin-left: 1rem;
        margin-bottom: .5rem;
        margin-top: 1rem;

        mat-icon {
          margin-left: 1rem;
        }
      }

      // color: #000000;
    }
   
  }


  

  &__bottom-portion {
    display: block;
    padding-top: 2rem;
    width: 100%;

    &-heading {
      @include center-flex;
      width: 100%;
      font-size: calc(#{$standard-font}* .9);
      color: black;
      font-weight: 300;
      line-height: 1.5rem;
    }
    &-ui {
      @include center-flex;

      &__money {
        // display: flex;
        // justify-content: space-around;
        font-size: calc(#{$standard-font}* .8);
        color: rgb(92, 85, 85);
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }

    }
  }
}


.mat-divider {
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


