<mat-card *ngIf="data" class="allocation-card">

  <mat-card-content>
    <div class="allocation-card__top-portion">
      <mat-tab-group>
        <mat-tab label="From Piggy">  
          <div class="unallocated__tabbox">
            <div class="unallocated__tabbox__heading">
                <div class="unallocated__tabbox__heading-title">
                  Piggy Balance
                </div>
                <div class="unallocated__tabbox__heading-money">
                    {{incomeToReturn.unallocated | currency:'USD'}}
                </div> 
            </div>
            <div class="unallocated__tabbox__allocation-ui">
                  <form 
                    [formGroup]="piggyBalanceForm" 
                    class="unallocated__tabbox__allocation-ui__form-group"
                  >
                    <mat-form-field>
                        <mat-label>Allocation</mat-label>
                        <input 
                          type="number" 
                          matInput 
                          name="pigincome" 
                          formControlName="pigincome" 
                          /> 
                    </mat-form-field>
                </form>
                <div class="unallocated__tabbox__allocation-ui__incrementor">
                    <mat-icon 
                      color="accent" 
                      (click)="subtractFromAllocation()"
                      *ngIf="incomeToReturn.unallocated !== originalIncomeBalance &&
                      selectedEnv.balance >= pigincome
                      "
                    >     
                      add_circle_outline
                     </mat-icon>
                      <mat-icon 
                        color="primary"
                        (click)="addFromAllocation()"
                        *ngIf="incomeToReturn.unallocated > 0 && 
                              piggyBalanceForm.valid &&
                              pigincome <= incomeToReturn.unallocated
                              "
                      >
                        remove_circle_outline
                      </mat-icon>
                </div>
          </div>
        
          </div>
        </mat-tab>
        <mat-tab label="From Envelopes">
          <div class="allocation-card__top-portion__allocated-envs">
            <ul *ngIf="currentEnvelopes.length > 0; else singleenv">
              <li *ngFor="let env of currentEnvelopes" >
                <div 
                  class="allocation-card__top-portion__allocated-envs__items" 
                  [style.color]="env.balance > 0 ? 'darkgreen' : 'gray'"
                >
                  {{env.name}} {{env.balance | currency:'USD'}}      
                  <mat-icon 
                     color="primary"
                    (click)="addFromOtherEnvelope(env)"
                    *ngIf="env.balance > 0"
                    >
                    remove_circle_outline
                  </mat-icon>
                  <mat-icon 
                    color="accent"
                    (click)="addToOtherEnvelope(env)"
                    *ngIf="
                    selectedEnv.balance !== originalSelectedEnvelopeBalance
                    "
                
                  >add_circle_outline</mat-icon>
                </div>
              </li>
            </ul>
            <ng-template #singleenv>You only have 1 envelope.</ng-template>
        
          </div>
        </mat-tab>
    </mat-tab-group>
    </div>
  
    <mat-divider></mat-divider>
   <div class="allocation-card__bottom-portion">
        <div class="allocation-card__bottom-portion-heading">
         {{selectedEnv.name}} Balance
        </div>
        <div class="allocation-card__bottom-portion-ui">
            <div 
              [style.color]="selectedEnv.balance < 50 ? 'red' : 'green'"
              class="allocation-card__bottom-portion-ui__money"
            > 
            {{selectedEnv.balance | currency:'USD'}}
          </div>

        </div>
        
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="submit()">OK</button>
    <button mat-button color="warn" (click)="cancel()">CANCEL</button>
  </mat-card-actions>
</mat-card>