//colors




//container
$envelope-container-width: 99vw;

//envelopes
$card-width: 55vw;
$card-margin: 1.5rem;
$card-background-color: #D7CEC7;
$card-font-color: #76323F;
$card-primary-heading: 0.9rem;
$card-secondary-heading: 0.8rem;
$card-font-weight: 500;

//layout

//header
$header-background-color: #D7CEC7;
$header-height: 4rem;
$header-bottom-margin: 5rem;

//dialog
$dialog-background: rgba(252, 229, 207, 0.3);

//font
$secondary-heading: 1rem;
$standard-font: 1.5rem;

//headings
$income-heading-margin: 0.3rem 0 0 0.5rem;

//buttons
$header-button-margin: 1rem;
$header-button-width: 3.2rem;
$header-button-background: rgb(173, 86, 28);

//dialogs
$clip: polygon(100% 0, 0 0, 50% 100%);

