mat-card {
    
    img {
        width: 100%;
    }
}

.intro-header {
    display: block;
    margin: auto;
    width: 15rem;
    text-align: center;
    a {
        color: rgb(221, 76, 165);
        margin: 1.5rem;
        font-weight: 500;
        font-style: italic;
    }
}