@import "../../../shared/sass/main.scss";

.allocation-card {
  padding-bottom: 5rem;
  line-height: 0.5rem;
  background-color: whitesmoke;
  height: auto;
  display: block;

  &__heading {
    @include center;
    margin-top: 3rem;
    font-size: calc(#{$standard-font}* 1.1);
    color: black;
    font-weight: 300;
    line-height: 2rem;
  }

  &__form-group {
    @include center;
    @include big-mat-forms;
    margin-top: 4rem;
    display: block;

    &-small {
      @include mat-forms;
    }
  }

  &__transaction-list {
    @include center;
    margin-top: 2rem;

    ul {
      list-style-type: none;
    }

    li {
      .items {
        margin: 2rem;
        line-height: 1.5rem;
        color: black;
      }
    }
  }
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

@include tabs;
