<mat-card class="settings-card">
    <mat-card-header>
        <div class="settings-card__heading">Settings</div>
    </mat-card-header> 
    <mat-card-content>
        <form 
            *ngIf="settingsForm"
            [formGroup]="settingsForm" 
            class="settings-card__form-group" 
            (ngSubmit)="submit()"
            >
            <h3>Paycheck Settings</h3>
             <mat-form-field>
                <mat-label>Starting Income</mat-label>
                <input type="number" matInput name="startingIncome" formControlName="income" />
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Saved Income</mat-label>
                <input type="number" matInput name="paycheck" formControlName="payCheck" />
                <mat-hint>Saved for resetting.</mat-hint>
            </mat-form-field>   

        </form>
        <br/> <br/>
        <mat-divider></mat-divider>
        <br/>
        <div class="settings-card__env-form" *ngIf="envelopes.length > 0">
                <h3>Envelope Defaults</h3>
                
                <div *ngFor="let env of envelopes" class="">
                    <mat-form-field>
                        <mat-label>{{env.name}}</mat-label>
                        <input 
                            type="number" 
                            matInput 
                            name="paycheck" 
                            [value]="env.default" 
                            (change)="changeEnvelopeValue(env, $event.target.value)"
                        />
                    </mat-form-field> 
                </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="confirm" mat-button color="primary" (click)="submit()">OK</button>
      <button mat-button color="warn" (click)="cancel()">CANCEL</button>
    </mat-card-actions>
  </mat-card> 